{% extends 'mailing/base.html' %}

{% block content %}
<diov class="col-12">
    <a href="{% url 'mailing:clients' %}" class ='btn btn-primary' m-2>Все клиенты &raquo;</a>
    <a href="{% url 'mailing:client_drafts' %}" class ='btn btn-primary' m-2>Неактивные клиенты &raquo;</a>
</diov>
    <br>
    <br>
<diov class="col-12">
    <a href="{% url 'mailing:client_create' %}" class ='btn btn-primary' m-2>Добавить клиента &raquo;</a>
</diov>
{% if  object_list %}
  <table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ФИО</th>
      <th scope="col">email</th>
      <th scope="col">Комментарий</th>
    </tr>
  </thead>
  <tbody>
{% for object in object_list %}
    <tr>
      <th scope="row">
          <a href="{% url 'mailing:client' object.pk %}"> {{ object.name }}</a>
      </th>
      <td>
          <a href="{% url 'mailing:client' object.pk %}">{{ object.email }}</a>
      </td>
      <td>{{ object.comment }}</td>
    </tr>
{% endfor %}
  <tbody>
  <table

{% else %}
    <div class="row">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            Нет ни одного клиента</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}