{% extends 'mailing/base.html' %}
{% block content %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    Уверены, что хотите удалить сообщение? "{{ object }}"<br>
                    <input type="submit" class="btn btn-outline-danger" value="Уверен"  &raquo;>
                </form>
                <div class="card-footer">
                    <a href="{% url 'mailing:usermessages' %}" class="btn btn-primary">Все сообщения</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}