{% extends 'mailing/base.html' %}

{% block content %}
<diov class="col-12">
    <a href="{% url 'mailing:usermessages' %}" class ='btn btn-primary' m-2>Все сообщения &raquo;</a>
    <a href="{% url 'mailing:usermessage_drafts' %}" class ='btn btn-primary' m-2>Неактивные сообщения &raquo;</a>
</diov>
    <br>
    <br>
<diov class="col-12">
    <a href="{% url 'mailing:usermessage_create' %}" class ='btn btn-primary' m-2>Добавить сообщение&raquo;</a>
</diov>
{% if  object_list %}
{% for object in object_list %}
    <div class="row">
     {% include 'mailing/includes/usermessage.html' %}
    </div>
    <a class="btn btn-secondary" href={% url 'mailing:usermessage' object.pk %}>Перейти &raquo;</a>
{% endfor %}
{% else %}
    <div class="row">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            Нет ни одного сообщения </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}