{% extends 'mailing/base.html' %}

{% block content %}
<div class="row">
<div class="col-3">
   <!-- <div class="col-6"> -->
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    {% if messages %}
                      <ul class="messages">
                        {% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Войти</button>
                    </form>
                </div>
                <div class="card-footer">

                        {% if not user.is_authenticated %}
                        <a href={% url "user_auth:foggot_password" %} class="btn btn-info"> Забыли пароль?</a>

                        {% endif %}
                </div>
            </div>
       <!-- </div> -->
    </div>
 </div>
 </div>
{% endblock %}