
{% block content %}

<div class="card">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        {% if  object %}
        <h5 class="card-title">{{ object.name }}</h5>
        <a href="{% url 'mailing:client' object.pk %}" >{{ object.name }}</a>
        <p class="card-text mb-auto">email: {{ object.email }}</p>
        <p class="card-text mb-auto">Комментарий: {{ object.comment }}</p>
        <p class="card-text mb-auto">Автор: {{ object.user }}</p>
        {% else %}
        <p class="card-text mb-auto">Нет клиента</p>

        {% endif %}
      </div>
    </div>

  </div>
</div>
{% endblock content %}