
{% block content %}

<div class="card">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        {% if  object %}
        <h5 class="card-title">
        <a href="{% url 'mailing:mailingattempt' object.pk %}" >{{ object.mayling }}</a></h5>
        <p class="card-text mb-auto">Сообщение: {{ object.mayling }}</p>
        <p class="card-text mb-auto">Время: {{ object.mailing_daytime }}</p>
        <p class="card-text mb-auto">Ответ сервера: {{ object.server_answer }}</p>
        <p class="card-text mb-auto">Статус: {{ object.get_status_display }}</p>
        {% else %}
        <p class="card-text mb-auto">Нет рассылки</p>
        {% endif %}
      </div>
    </div>

  </div>
</div>


{% endblock content %}
