
{% block content %}

<div class="card">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        {% if  object %}
        <h5 class="card-title">

        <a href="{% url 'mailing:mailing' object.pk %}" >{{ object.name }}</a></h5>
        <p class="card-text mb-auto">Сообщение: {{ object.user_message }}</p>
        <p class="card-text mb-auto">Время: {{ object.time }}</p>
        <p class="card-text mb-auto">Дата начала: {{ object.start_day }}</p>
        <p class="card-text mb-auto">Периодичность: {{ object.get_period_display }}</p>
        <p class="card-text mb-auto">Статус: {{ object.get_status_display }}</p>
        <p class="card-text mb-auto">Автор: {{ object.user }}</p>
        <p class="card-text mb-auto">Клиент: {{ object.client }}</p>
        {% else %}
        <p class="card-text mb-auto">Нет рассылки</p>
        {% endif %}
      </div>
    </div>

  </div>
</div>


{% endblock content %}
