{% extends 'mailing/base.html' %}

{% block content %}
<div class="row">
<div class="col-3">
   <!-- <div class="col-6"> -->
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <form method="post" action="{% url 'user_auth:reset_password' %}">
                        {% csrf_token %}
                         <input type="email" name="email" placeholder="Email" required>
                        <br>
                        <br>
                        <button type="submit">Сбросить пароль</button>
                    </form>
                </div>
            </div>
       <!-- </div> -->
    </div>
 </div>
 </div>
{% endblock %}